* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  /* background-color: red; */
  min-height: 100vh;
  background: linear-gradient(113.83deg, #121212 0.59%, #121212 99.74%);
  color: white;
  max-height: 1000px;
  max-width: 1920px;
}

.right {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section {
  width: 100%;
  min-height: 400px;
  height: 400px;

  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sectionWrapper {
  width: 90%;
  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: center;

  /* gap: 20px; */
}

.sectionWrapper h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  /* identical to box height */
  margin-bottom: 25px;
  /* White */

  color: #ffffff;
}
.section_card_container {
  width: 100%;
  display: flex;

  overflow-x: auto;
  gap: 16px;
}
.section_card_container::-webkit-scrollbar {
  display: none;
}
.section_card_container::-webkit-scrollbar-thumb {
  display: none;
}
.sectionWrapper h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  /* White */

  color: #ffffff;

  opacity: 0.6;
  margin-bottom: 25px;
}

.bottom {
  width: 100%;
  background-color: red;
  height: 100px;
  position: fixed;
  bottom: 0;
}

.right_top {
  width: 90%;
  height: 100px;
  display: flex;

  align-items: center;
}
.right_bottom {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  max-height: 1000px;
  overflow-y: auto;
  align-items: center;
}

.app_search {
  width: 265.26px;
  height: 34.87px;
  background: rgba(255, 255, 255, 0.15);
  position: relative;
  border-radius: 18px;
  display: flex;
  align-items: center;
}

.app_search input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #ffffff;
  opacity: 0.6;
  padding-left: 40px;
  padding-right: 20px;
}
.app_search img {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 12px;
}
